.justify-content-between {
  justify-content: space-between;
}

.ant-menu {
  flex: 1;
  justify-content: flex-end;
}

.App-header {
  background-color: #f3f8ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.inner-container {
  max-width: 1000px;
  margin-inline: auto;
}

.max-width-300 {
  max-width: 300px;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.App-link {
  color: #61dafb;
}

.d-block {
  display: block;
}

input,
select {
  min-height: 45px;
}

.w-100 {
  width: 100%;
}

.text-white {
  color: #fff;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-3 {
  margin-top: 1rem;
}

.gap-10 {
  gap: 10px;
}

.fs-12 {
  font-size: 12px;
}

.ant-modal .ant-modal-title {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .site-layout {
    padding: 0 50px;
  }

  .main-area.mw-500 {
    width: 500px;
  }
}

@media screen and (max-width: 767px) {
  .mt-3-mob {
    margin-top: 1rem;
  }

  .mt-8px-mob {
    margin-top: 8px;
  }

  .ant-layout-header {
    padding-inline: 10px;
  }

  .flex-column-mob {
    flex-direction: column;
  }
}
